body {
  margin: 0;
  padding: 0;
  max-height: 100;
  font-family:"Poppins", "sans-serif";
}

h1 {
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0 4px 2px -2px #808080;
}

img {
  max-width: 100%;
  user-select: none;
  pointer-events: none;
}

.game-container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}


button {
  padding: 20px;
  width: 250px;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
  border-bottom: 8px solid #e5e5e5;
  border-radius: 16px;
  transition: all 0.1s;
}
button:hover {
  background-color: #9eff95;
  border-color: #3bd62d;
}
button:active {
  background-color: #9eff95;
  border-bottom: 3px solid;
  border-color: #3bd62d;
}

.counter-container{
    user-select: none;
    
    font-size: 36px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;

}

#game-output{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin:20px auto;
}

.counter{
  display: flex;
  flex-direction: column;
  align-items: center;

  width:125px;
  height:125px;

  border: 3px solid #e5e5e5;
  border-radius: 16px;
}
